{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{% static 'territorio/css/estilos.css' %}">
</head>
<body>
    <h1>Bienvenido a un territorium totalmente nuevo</h1>
    <a href="{% url 'territorio:login-form' %}">Login</a>

    <img src="{% static 'territorio/img/plano.webp' %}" alt="" width="600px" height="400px"><br>
    <button onclick="alertica()">alertica</button>



    <script src="{% static 'territorio/js/funciones.js' %}"></script>
</body>
</html>

